* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
  --primary-color: #ff9900;
  --paragraph: #7d7987;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;

  text-align: center;
}

.hero {
  width: 59.2rem;
  margin-inline: auto;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 4.9rem;
  line-height: 5.6rem;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

span,
a {
  color: var(--primary-color);
}

p {
  color: var(--paragraph);
  font-size: 1.4rem;
  line-height: 2.8rem;
}
