* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
  --primary-color: #ff9900;
  --paragraph: #7d7987;
  --line-color: #eceff2;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;

  text-align: center;
}

.hero {
  width: 59.2rem;
  margin-inline: auto;
}

.hero img {
  margin-bottom: 7.2rem;
}

.hero h1 {
  font-family: "Inter", sans-serif;
  font-size: 4.9rem;
  line-height: 5.6rem;
  font-weight: normal;

  margin-bottom: 3.2rem;
}

.hero h1 span {
  font-weight: bold;
}

.hero span,
a {
  color: var(--primary-color);
}

.hero p,
footer {
  color: var(--paragraph);
  font-size: 1.4rem;
  line-height: 2.8rem;
}

.hero p + p {
  margin: 3rem 0rem 7.2rem;
}

footer .line {
  width: 56.8rem;
  height: 0rem;

  margin-inline: auto;
  margin-bottom: 0.8rem;

  border: 1px solid var(--line-color);
}

footer a + a {
  margin-left: 2.8rem;
}
